################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Application/obj
/.vs/DesafioNaPistaApi
/Domain/obj
/Infrastructure/obj
/Persistence/obj
/Service/obj
/Domain/bin/Debug/netcoreapp3.1
/Application/bin/Debug/netcoreapp3.1
/Infra.Mapping/bin/Debug/netcoreapp3.1
