################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Application/obj
/.vs/DesafioNaPistaApi
/Domain/obj
/Infrastructure/obj
/Persistence/obj
/Service/obj
/Domain/bin/Debug/netcoreapp3.1
/Application/bin/Debug/netcoreapp3.1
/Infra.Mapping/bin/Debug/netcoreapp3.1
/Infra.CrossCutting/bin/Debug/netcoreapp3.1
/Infra.CrossCutting/obj/Debug/netcoreapp3.1
/Infra.CrossCutting/obj
/Infra.Mapping/obj
/Persistence/bin/Debug/netcoreapp3.1
/Service/bin/Debug/netcoreapp3.1
/Infrastructure/Infra.CrossCutting/bin/Debug/netcoreapp3.1
/Infrastructure/Infra.CrossCutting/obj
/Infrastructure/Infra.Mapping/bin/Debug/netcoreapp3.1
/Infrastructure/Infra.Mapping/obj
